@import url("https://fonts.googleapis.com/css2?family=Ephesis&display=swap");

.App {
  font-family: sans-serif;
  text-align: center;
}
body {
  background-color: #ffb6c1;
}
input {
  min-width: 50%;
  padding: 1rem;
  margin: 1rem;
  border-radius: 0.5rem;
  border-color: #ff69b4;
}
#list {
  display: inline;
  padding: 1rem;
  font-size: 2.5rem;
}

#line-1 {
  font-size: 3rem;
  padding: 0.2rem;
  color: crimson;
  font-family: "Ephesis", cursive;
}

#line-0 {
  font-size: 5rem;
  margin-top: 10%;
  padding: 0.2rem;
  color: crimson;
  font-family: "Ephesis", cursive;
}

#line-2 {
  font-size: 2.5rem;
  padding: 1rem;
  color: Fuchsia;
  font-family: "Ephesis", cursive;
}
